/backend/yolov5
/frontend/node_modules
/backend/*.pt
/__pycache__
/backend/*.mp4
/backend/*.avi
/backend/*.webm
/frontend/src/Components/*.mp4
/frontend/src/Components/*.webm
/.vscode
/backend/__pycache__