body {
  margin: 0;
  padding: 0;
  background-color: #503047;
  color: white;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.Links {
  display: flex;
}

.Links > * {
  margin: 1em;
}

.NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
}

.App {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  height: 100vh;
  width: 100vw;
}

.Home {
  display: flex;
  margin: 1em;
  padding: 1em;
}

h1 {
  font-size: 3em;
}

.HomeContent > .title {
  font-size: 5em;
  border: none;
  text-align: left;
}

.HomeContent > .desc {
  font-size: 3em;
  font-weight: normal;
  text-align: justify;
}

.Inference {
  flex: 1;
  display: flex;
  margin: 1em;
  padding: 1em;
}

.Inference > .infMain > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Inference > .infMain {
  flex-shrink: 0;
  flex-grow: 1;
}

.Inference > .infMain > form > * {
  padding: 0.5em;
  margin: 0.5em;
}

.Inference > .image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

.image > img {
  object-fit: contain;
}

.fileInput ::-webkit-file-upload-button {
  visibility: hidden;
}

.Inference > form > * {
  padding: 1em;
  margin: 1em;
}

.fileInput {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.submit {
  border: solid black 0.1em;
  border-radius: 1em;
  background-color: white;
}

.submit:hover {
  cursor: pointer;
}
