@import url("https://fonts.googleapis.com/css2?family=Tiro+Kannada&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #242f9b;
  color: #dbdffd;
  font-size: 12px;
}

.title {
  text-align: center;
  border: solid white 1rem;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 1rem;
  color: white;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.Links {
  display: flex;
}

.Links > * {
  margin: 1rem;
  flex-shrink: 1;
}

.LiveFeedContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

.LiveFeedContainer > * {
  padding: 1rem;
  margin: 1rem;
}

.NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 1rem;
  border-radius: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  height: 100vh;
  width: 100vw;
}

.Home {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
}

.HomeContent > .desc {
  font-size: 2rem;
  font-weight: normal;
  text-align: justify;
}

.Home > * {
  padding: 1rem;
  margin: 1rem;
}

.Home > .gifs > * {
  padding: 1rem;
  margin: 1rem;
}

.Inference {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex: 1;
  flex-wrap: wrap;
}
.Inference > .infMain > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Inference > .infMain {
  flex: 1;
}

.Inference > * {
  margin: 1rem;
  padding: 1rem;
}

.Inference > .infMain > form > * {
  padding: 0.5rem;
  margin: 0.5rem;
}

.Inference > .image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  position: fixed;
  z-index: 99;
  height: 100vh;
  background-color: #000000e1;
  margin: 0;
  padding: 0;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Inference > form > * {
  padding: 1rem;
  margin: 1rem;
}

.videoContainer {
  padding: 1rem;
  margin: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#video {
  width: 100%;
  height: 100%;
}

.snapshot,
#videoDisplayer {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  border-radius: 1rem;
}

.fileInput {
  background-color: black;
  padding: 0.75rem !important;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.gifs {
  display: flex;
  flex-direction: column;
}

button,
label {
  cursor: pointer;
}

button {
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  padding: 0.75rem !important;
  border-radius: 1rem;
  font-weight: bold;
}
